# ~/.gitconfig
#
# Author: Russell Parker

[user]
    email = russell.parker7@gmail.com
    name = Russell Parker
[color]
    ui = true
[core]
    editor = vim
    autocrlf = input
    pager = less -RF
