# ~/.gitconfig
#
# Author: Russell Parker

[user]
    email = russell.parker7@gmail.com
    name = Russell Parker
    signingKey = 0xC4EFF17B3A3899AF

[color]
    ui = true

[core]
    editor = vim
    autocrlf = input
    pager = less -RF

[gpg]
    program = /usr/bin/gpg2

[tag]
    forceSignAnnotated = true

[sendemail]
  smtpuser = russell.parker7@gmail.com
  smtpserver = smtp.googlemail.com
  smtpencryption = tls
  smtpserverport = 587
