! ~/.Xresources
!
! Author: Russell Parker

!--------------------
! color-scheme: flowers
! source      : http://www.xcolors.net/dl/flowers
! source      : modified from https://x.eti.tf/VCRKp.xres
!--------------------
! special
*.foreground:   #ffffff
*.background:   #170e21
*.cursorColor:  #ffffff

! black
*.color0:       #071d22
*.color8:       #617278

! red
*.color1:       #9c5c5a
*.color9:       #ceaead

! green
*.color2:       #8cc495
*.color10:      #ade1b6

! yellow
*.color3:       #f0e0aa
*.color11:      #fbf1cf

! blue
*.color4:       #8ab6c2
*.color12:      #b5dbe4

! magenta
*.color5:       #94a9d9
*.color13:      #b6cbfa

! cyan
*.color6:       #7eb5ac
*.color14:      #a3d0c8

! white
*.color7:       #b3bec1
*.color15:      #f7f8f8

!--------------------
! general
!--------------------
xterm.vt100.saveLines: 4096
xterm.termName: xterm-256color
xterm.vt100.scrollBar: false
xterm.vt100.geometry: 80x24
xterm.vt100.scrollTtyOutput: false
xterm.vt100.loginShell: false
xterm.vt100.utf8: 1
xterm.vt100.metaSendsEscape: true


!--------------------
! key bindings
!--------------------
xterm.vt100.translations: #override \
    Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>V: insert-selection(CLIPBOARD) \n\
    Ctrl <Key> minus: smaller-vt-font() \n\
    Ctrl <Key> plus: larger-vt-font() \n\
    Ctrl <Key> 0: set-vt-font(d) \n\
    Ctrl <Btn1Up>: exec-formatted("xdg-open '%t'", PRIMARY)


!--------------------
! font
!--------------------
xterm.vt100.faceName: Cousine:antialias=false
xterm.vt100.faceSize: 11
xterm.vt100.renderFont: true

! VT Font Menu: Unreadable
xterm.vt100.faceSize1: 8
! VT font menu: Tiny
xterm.vt100.faceSize2: 9
! VT font menu: Medium
xterm.vt100.faceSize3: 13
! VT font menu: Large
xterm.vt100.faceSize4: 15
! VT font menu: Huge
xterm.vt100.faceSize5: 18


!--------------------
! bell
!--------------------
xterm.vt100.visualBell: true
xterm.vt100.bellIsUrgent: false


!--------------------
! selecting
!--------------------
xterm.vt100.trimSelection: true
xterm.vt100.highlightSelection: true


!--------------------
! cursor
!--------------------
xterm.vt100.cursorBlink: true
xterm.vt100.cursorOnTime: 1000
xterm.vt100.cursorOffTime: 500
