! ~/.Xresources
!
! Author: Russell Parker

!--------------------
! colors
!--------------------
#define base00 #dce0ce
#define base01 #cbcfbe
#define base02 #b9bdad
#define base03 #a5a89a
#define base04 #666666
#define base05 #525252
#define base06 #404040
#define base07 #323232
#define base08 #9c4854
#define base09 #b19575
#define base0A #a1945c
#define base0B #7f941a
#define base0C #1a9767
#define base0D #147094
#define base0E #807b97
#define base0F #443224

! special
*foreground:   base05
*background:   base00
*cursorColor:  base05

! black
*color0:       base00
*color8:       base03

! red
*color1:       base08
*color9:       base09

! green
*color2:       base0B
*color10:      base01

! yellow
*color3:       base0A
*color11:      base02

! blue
*color4:       base0D
*color12:      base04

! magenta
*color5:       base0E
*color13:      base06

! cyan
*color6:       base0C
*color14:      base0F

! white
*color7:       base05
*color15: 	   base07

!--------------------
! general
!--------------------
xterm.vt100.saveLines: 4096
xterm.termName: xterm-256color
xterm.vt100.scrollBar: false
xterm.vt100.geometry: 80x24
xterm.vt100.loginShell: false
xterm.vt100.utf8: 1
xterm.vt100.metaSendsEscape: true


!--------------------
! key bindings
!--------------------
xterm.vt100.translations: #override \
    Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>V: insert-selection(CLIPBOARD) \n\
    Ctrl <Key> minus: smaller-vt-font() \n\
    Ctrl <Key> plus: larger-vt-font() \n\
    Ctrl <Key> 0: set-vt-font(d) \n\
    Ctrl <Btn1Up>: exec-formatted("xdg-open '%t'", PRIMARY)


!--------------------
! font
!--------------------
xterm.vt100.faceName: Cousine:antialias=false
xterm.vt100.faceSize: 9
xterm.vt100.renderFont: true

! VT Font Menu: Unreadable
xterm.vt100.faceSize1: 7
! VT font menu: Tiny
xterm.vt100.faceSize2: 8
! VT font menu: Medium
xterm.vt100.faceSize3: 11
! VT font menu: Large
xterm.vt100.faceSize4: 13
! VT font menu: Huge
xterm.vt100.faceSize5: 15


!--------------------
! bell
!--------------------
xterm.vt100.visualBell: true
xterm.vt100.bellIsUrgent: false


!--------------------
! selecting
!--------------------
xterm.vt100.trimSelection: true
xterm.vt100.highlightSelection: true


!--------------------
! cursor
!--------------------
xterm.vt100.cursorBlink: true
xterm.vt100.cursorOnTime: 1000
xterm.vt100.cursorOffTime: 500
